#container {
    height:300px;
    width:300px;
    background-color:blue;
    margin:100px auto;
}

.row{
    height:15px;
    width: 15px;
    background-color:red;
}


.unit {
    background-color:yellow;
    Height: 10px;
    width: 10px;
    display:inline-block;
    float:left;
    margin:2px;
}

